---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.tsx';
import Footer from '../components/Footer.tsx';
import ExplorePage from '../components/ExplorePage.tsx';
---

<Layout title="Explorar eventos">
  <Header client:load />
  <main class="container mx-auto px-4">
    <ExplorePage client:load />
  </main>
  <Footer client:load />
</Layout>
