---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import RegisterForm from '../components/RegisterForm';
---

<Layout title="Register">
  <Header client:load />
  <main class="container mx-auto px-4">
    <div class="flex justify-center items-center h-screen">
      <div class="w-full max-w-xs">
        <RegisterForm client:load />
      </div>
    </div>
  </main>
  <Footer client:load />
</Layout>
