---
const placeholder = "/media/images/image.png";
---

<!-- Componente de carrusel -->
<style>
    .carousel {
        overflow: hidden;
        width: 100%;
    }

    .carousel-container {
        display: flex;
        animation: carousel 30s infinite linear;
    }

    .carousel-container:hover {
        animation-play-state: paused;
    }

    .carousel-item {
        flex-shrink: 0;
    }

    @keyframes carousel {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-300%);
        }
    }

    /* Estilos para PC */
    @media (min-width: 1024px) {
        .carousel-item {
            width: 33.33%;
        }

        @keyframes carousel {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }

    /* Estilos para tableta */
    @media (min-width: 768px) and (max-width: 1023px) {
        .carousel-item {
            width: 50%;
        }

        @keyframes carousel {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-150%);
            }
        }
    }

    /* Estilos para móvil */
    @media (max-width: 767px) {
        .carousel-item {
            width: 100%;
        }

        @keyframes carousel {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-300%);
            }
        }
    }
</style>

<!-- Contenedor del carrusel -->
<div class="carousel mx-auto">
    <div class="carousel-container" id="carousel">
        {
        Array.from({ length: 4 }).map((_, index) => (
            <div class="carousel-item relative px-2">
            <img
                src={placeholder}
                alt="Food Truck"
                class="w-full aspect-video object-cover rounded-lg"
            />
            <div
                class="absolute inset-0 bg-transparent bg-opacity-20 rounded-lg flex items-center justify-center mx-2"
            >
                <span class="text-white font-bold text-lg drop-shadow-lg"
                    >🍕 Food Truck {index + 1} </span
                >
            </div>
        </div>
        ))
        }
    </div>
</div>

<!-- Script para clonar las imágenes y crear un bucle infinito -->
<script>
    // Esperar a que el DOM esté cargado
    document.addEventListener("DOMContentLoaded", function () {
        const carouselContainer = document.querySelector("#carousel");
        if (!carouselContainer) return;
        const items = carouselContainer.querySelectorAll(".carousel-item");

        // Clonar las imágenes para crear un bucle infinito
        items.forEach((item) => {
            const clonedItem = item.cloneNode(true);
            carouselContainer.appendChild(clonedItem);
        });
    });
</script>
