---
import Header from "@src/components/global/Header.astro";
import FeaturedEventsSection from "@src/components/sections/FeaturedEventsSection.astro";
import HeroSection from "@src/components/sections/HeroSection.astro";
import UpcomingEventsSection from "@src/components/sections/UpcomingEventsSection.tsx";
import StatisticsSection from "@src/components/react/StatisticsSection.tsx";
import FooterSection from "@src/components/sections/FooterSection.astro";
---

<Header />
<main>
	<FeaturedEventsSection />

	<div
		class="container mx-auto flex-1 flex flex-col lg:flex-row gap-6 lg:gap-8 p-4 md:p-6 lg:py-10"
	>
		<HeroSection />
		<UpcomingEventsSection client:load />
	</div>

	<StatisticsSection client:load />
</main>
<FooterSection />
