---
import Header from "./global/Header.astro";
import FeaturedEventsSection from "./sections/FeaturedEventsSection.astro";
import HeroSection from "./sections/HeroSection.astro";
import UpcomingEventsSection from "./sections/UpcomingEventsSection.astro";
import StatisticsSection from "./sections/StatisticsSection.astro";
import FooterSection from "./sections/FooterSection.astro";
---

<Header />
<main>
	<FeaturedEventsSection />

	<div
		class="container mx-auto flex-1 flex flex-col lg:flex-row gap-6 lg:gap-8 p-4 md:p-6 lg:py-10"
	>
		<HeroSection />
		<UpcomingEventsSection />
	</div>

	<StatisticsSection />
</main>
<FooterSection />
